$p-1:#03a9f4;
$p-2:#f75e2e;
$p-3:#ecfa4d;
$p-4:#656a70;
$light:#fff;
$dark:#000;

$p-5:mix($light,$p-1,40%);
$p-6:mix($light,$p-1,75%);
$p-7:mix($light,$p-1,90%);
$p-8:mix($dark,$p-1,20%);
$p-9:mix($dark,$p-1,50%);
$p-10:mix($dark,$p-1,70%);

$p-11:mix($light,$p-2,40%);
$p-12:mix($light,$p-2,75%);
$p-13:mix($light,$p-2,90%);
$p-14:mix($dark,$p-2,20%);
$p-15:mix($dark,$p-2,50%);
$p-16:mix($dark,$p-2,70%);

$p-17:mix($light,$p-3,40%);
$p-18:mix($light,$p-3,75%);
$p-19:mix($light,$p-3,90%);
$p-20:mix($dark,$p-3,20%);
$p-21:mix($dark,$p-3,50%);
$p-22:mix($dark,$p-3,70%);

$p-23:mix($light,$p-4,40%);
$p-24:mix($light,$p-4,75%);
$p-25:mix($light,$p-4,90%);
$p-26:mix($dark,$p-4,20%);
$p-27:mix($dark,$p-4,50%);
$p-28:mix($dark,$p-4,70%);

$font-regural-bold:'Gabriola';
$font-light:'OpenSans-Light';
$font-regular:'Poppins-Regular';
$font-light:'Poppins-Light';
$font-bold:'Poppins-bold';